data/.flows.json.backup
[
    {
        "id": "d8a1e1f7a8a408cc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0a3e6d347f0fc62",
        "type": "mqtt-broker",
        "name": "TTN-Server",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2bd397339577de7e",
        "type": "mqtt in",
        "z": "d8a1e1f7a8a408cc",
        "name": "TTN-Server",
        "topic": "v3/iot-smart-lock/devices/eui-70b3d57ed005bc62/up",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e0a3e6d347f0fc62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "4f44c31817038577",
                "2df6247cd1476bbf"
            ]
        ]
    },
    {
        "id": "08095e1681e55f6f",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "Connection from TTN-Server",
        "info": "",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f44c31817038577",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Payload",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "2df6247cd1476bbf",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Msg",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    }
]