data/flows.json
[
    {
        "id": "d8a1e1f7a8a408cc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0a3e6d347f0fc62",
        "type": "mqtt-broker",
        "name": "TTN-Server",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2bd397339577de7e",
        "type": "mqtt in",
        "z": "d8a1e1f7a8a408cc",
        "name": "TTN-Server",
        "topic": "v3/iot-smart-lock@ttn/devices/+/up",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e0a3e6d347f0fc62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "444f8ed2257d9cfa"
            ]
        ]
    },
    {
        "id": "08095e1681e55f6f",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "Connection from TTN-Server",
        "info": "",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "444f8ed2257d9cfa",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Get Payload",
        "func": "let payload = msg.payload\nlet data = payload.uplink_message.decoded_payload\ndata[\"device_id\"] = payload.end_device_ids.device_id\nvar newMsg = { payload: data };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "b0a5e25253dec58a",
                "73a83b998618d2c3"
            ]
        ]
    },
    {
        "id": "b0a5e25253dec58a",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Store data",
        "func": "let id = msg.payload.device_id\nglobal.set(id, msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "becb33836bb7a0e6",
        "type": "http in",
        "z": "d8a1e1f7a8a408cc",
        "name": "[GET] Get Device Information",
        "url": "/:device_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "388ddb532c8479b2"
            ]
        ]
    },
    {
        "id": "ef3f280c708d69e7",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "HTTP-Request of app",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "81250868e3f57432",
        "type": "http response",
        "z": "d8a1e1f7a8a408cc",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "388ddb532c8479b2",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Get data from cache",
        "func": "const id = msg.req.params.device_id\nif (global.keys().includes(id)){\n    msg.statusCode = 200\n    msg.payload = global.get(id)\n} else {\n    msg.statusCode = 404\n    msg.payload = {\n        \"msg\": \"ID not found.\",\n        \"id\": id,\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "81250868e3f57432",
                "4f6133be577a9ea9"
            ]
        ]
    },
    {
        "id": "73a83b998618d2c3",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Receive Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "4f6133be577a9ea9",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Provide Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    }
]