data/flows.json
[
    {
        "id": "d8a1e1f7a8a408cc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0a3e6d347f0fc62",
        "type": "mqtt-broker",
        "name": "TTN-Server",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2bd397339577de7e",
        "type": "mqtt in",
        "z": "d8a1e1f7a8a408cc",
        "name": "TTN-Server",
        "topic": "v3/iot-smart-lock@ttn/devices/+/up",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e0a3e6d347f0fc62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "444f8ed2257d9cfa"
            ]
        ]
    },
    {
        "id": "08095e1681e55f6f",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "Connection from TTN-Server",
        "info": "",
        "x": 180,
        "y": 160,
        "wires": []
    },
    {
        "id": "444f8ed2257d9cfa",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Get Payload",
        "func": "let payload = msg.payload\nlet data = payload.uplink_message.decoded_payload\ndata[\"device_id\"] = payload.end_device_ids.device_id\nvar newMsg = { payload: data };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "b0a5e25253dec58a",
                "73a83b998618d2c3"
            ]
        ]
    },
    {
        "id": "b0a5e25253dec58a",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Store data",
        "func": "let id = msg.payload.device_id\nglobal.set(id, msg.payload)\n\nlet all = {}\nfor (let key of global.keys()){\n    all[key] = global.get(key)\n}\nreturn { payload: all}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "f1fc4aef9aa7e349"
            ]
        ]
    },
    {
        "id": "becb33836bb7a0e6",
        "type": "http in",
        "z": "d8a1e1f7a8a408cc",
        "name": "[GET] Get Device Information",
        "url": "/:device_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "388ddb532c8479b2"
            ]
        ]
    },
    {
        "id": "ef3f280c708d69e7",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "HTTP-Request of app",
        "info": "",
        "x": 160,
        "y": 320,
        "wires": []
    },
    {
        "id": "81250868e3f57432",
        "type": "http response",
        "z": "d8a1e1f7a8a408cc",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "388ddb532c8479b2",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Get data from cache",
        "func": "const id = msg.req.params.device_id\nif (global.keys().includes(id)){\n    msg.statusCode = 200\n    msg.payload = global.get(id)\n} else {\n    msg.statusCode = 404\n    msg.payload = {\n        \"msg\": \"ID not found.\",\n        \"id\": id,\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "81250868e3f57432",
                "4f6133be577a9ea9"
            ]
        ]
    },
    {
        "id": "73a83b998618d2c3",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Receive Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f6133be577a9ea9",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Provide Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "f1fc4aef9aa7e349",
        "type": "json",
        "z": "d8a1e1f7a8a408cc",
        "name": "JSON",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "13816f1b19f01735"
            ]
        ]
    },
    {
        "id": "13816f1b19f01735",
        "type": "file",
        "z": "d8a1e1f7a8a408cc",
        "name": "Save to JSON",
        "filename": "/data/data.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "b21ad4333bfc7bfd"
            ]
        ]
    },
    {
        "id": "60bda38fa334d34c",
        "type": "file in",
        "z": "d8a1e1f7a8a408cc",
        "name": "Read Json",
        "filename": "/data/data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "88a1185605d5f3ef"
            ]
        ]
    },
    {
        "id": "b21ad4333bfc7bfd",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Receive Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "9de15c09f6c0b203",
        "type": "inject",
        "z": "d8a1e1f7a8a408cc",
        "name": "Init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "60bda38fa334d34c"
            ]
        ]
    },
    {
        "id": "88a1185605d5f3ef",
        "type": "json",
        "z": "d8a1e1f7a8a408cc",
        "name": "To Object",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "587a6cbc2c4bdf7f"
            ]
        ]
    },
    {
        "id": "587a6cbc2c4bdf7f",
        "type": "function",
        "z": "d8a1e1f7a8a408cc",
        "name": "Load data",
        "func": "let devices = msg.payload\n\nfor (let k of Object.keys(devices)) {\n    global.set(k, devices[k])\n}\nreturn { payload: devices }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "ef5978979121d201"
            ]
        ]
    },
    {
        "id": "ef5978979121d201",
        "type": "debug",
        "z": "d8a1e1f7a8a408cc",
        "name": "Init",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "98b8e8f1ac1c6c74",
        "type": "comment",
        "z": "d8a1e1f7a8a408cc",
        "name": "Initial context",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    }
]